---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: op://kubernetes/1password/OP_CREDENTIALS_JSON
  token: op://kubernetes/1password/OP_CONNECT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_DOMAIN: op://kubernetes/homelab/SECRET_DOMAIN
  EMAIL: op://kubernetes/homelab/EMAIL
  NFS_HOST_0: op://kubernetes/homelab/NFS_HOST_0
  NFS_HOST_2: op://kubernetes/homelab/NFS_HOST_2
  NFS_HOST_SECURITY: op://kubernetes/homelab/NFS_HOST_SECURITY
