# yamllint disable
---
apiVersion: v1
kind: Secret
metadata:
    name: qbittorrent-rss-env
    namespace: media
stringData:
    .env: |
      # QBT_HOST = <fill>
      # QBT_PORT = 8080
      # QBT_USER = admin
      # QBT_PASS = admin
      # FEEDS_FILE = feeds.json
      # LOGS_DIR = logs
      # LOGS_CONSOLE = true
      # LOGS_LEVEL = debug
